@model IEnumerable<CouponDto>

@{
    ViewData["Title"] = "Coupon List";
}

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-dark">Coupons List</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a class="btn btn-outline-primary" asp-action="CouponCreate"><i class="bi bi-plus-square"></i> Create New Coupon</a>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Coupon Code</th>
					<th>Min Order Total</th>
					<th>Discount Percent</th>
					<th>Discount Amount</th>
					<th>Max Discount Amount</th>
					<th>Expired Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach(CouponDto coupon in Model)
				{
					<tr>
						<td>@coupon.Id</td>
						<td>@coupon.CouponCode</td>
						<td>@coupon.MinOrderTotal</td>
						<td>@coupon.DiscountPercent</td>
						<td>@coupon.DiscountAmount</td>
						<td>@coupon.MaxDiscountAmount</td>
						<td>@(coupon.ExpiredDate.ToShortTimeString())</td>
						<td>
							<form method="post" asp-action="CouponDelete" asp-route-couponId="@coupon.Id">
								<button class="btn btn-danger" type="submit"><i class="bi bi-trash"></i></button>
							</form>
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>

</div>