@model IEnumerable<ProductDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container row">
    @foreach (ProductDto item in Model)
    {
        <div class="col-4">
            <div class="p-0 my-3 border rounded">
                <div class="card">
                    <h3 class="card-title text-dark-50 text-center pt-3 pb-1">@item.Name</h3>
                    <img src="@item.ThumbnailUrl" class="card-img-top">
                    <div class="card-body">
                        <div class="d-flex justify-content-between py-2">
                            <span class="text-danger" style="font-size:20px;">@item.Price.ToString("c")</span>
                            <span class="badge bg-warning text-white p-2">@item.CategoryName</span>
                        </div>
                        <p class="card-text">@Html.Raw(item.Description)</p>
                        <div class="row">
                            <div class="col">
                                <a asp-controller="Product" asp-action="ProductDetails" asp-route-productId="@item.Id" class="btn btn-success form-control">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
