@model ShoppingCartDto

@{
    ViewData["Title"] = "Cart";
}

<br />
<div class="">
    <div class="card border mt-4 container">
        <div class="card-header bg-dark text-light ml-0 row">
            <div class="col-6 d-flex flex-column justify-content-center">
                <h3 class="text-success my-0">
                    <i class="bi bi-cart"></i> &nbsp; Shopping Cart
                </h3>
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-outline-warning mt-2 btn-sm" asp-controller="Home" asp-action="Index">
                    Continue Shopping
                </a>
            </div>
        </div>

        <div class="card-body">
            <div class=" d-none d-lg-block">
                <div class="row text-info">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-5">
                        Product
                    </div>
                    <div class="col-lg-2">
                        Price
                    </div>
                    <div class="col-lg-2">
                        Count
                    </div>
                    <div class="col-lg-1">
                    </div>
                </div>
            </div>
            <hr />
            @if (Model != null)
            {
                foreach (CartItemDto item in Model.Items)
                {
                    <div class="row h-100 py-2">
                        <div class="col-4 col-md-2 text-center">
                            <img src="@item.ProductThumbnailUrl" class="rounded" width="100%" />
                        </div>
                        <div class="col-8 col-md-5">
                            <h5>@item.ProductName</h5>
                        </div>
                        <div class="col-3 col-md-2 pt-md-4" style="font-size:11px;">
                            <span style="font-size:17px;">@item.ProductLastPrice.ToString("c")</span>
                        </div>
                        <div class="col-3 col-md-2 pt-md-4" style="font-size:11px;">
                            <span style="font-size:17px;">@item.Quantity</span>
                        </div>
                        <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                            <form method="post" asp-action="CartRemoveItem" asp-route-itemId="@item.Id">
                                <button class="btn btn-sm btn-danger" type="submit"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </div>
                }
                <hr />
                <div class="row">
                    <div class="col-6">
                        @if (string.IsNullOrEmpty(Model.AppliedCouponCode))
                        {
                            <span>Coupon:</span>
                            <form method="post" asp-action="CartApplyCoupon">
                                <input class="text-uppercase" asp-for="@Model.AppliedCouponCode" />
                                <button type="submit" class="btn btn-sm btn-success">Apply</button>
                            </form>
                        }
                        else
                        {
                            <span>Coupon:</span>
                            <form method="post" asp-action="CartRemoveCoupon">
                                <input class="text-uppercase" asp-for="@Model.AppliedCouponCode" disabled />
                                <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                            </form>
                        }
                    </div>
                    <div class="col-6 text-end">
                        <span class="text-danger" style="font-size:21px;">
                            Order Total : @Model.CartTocal.ToString("c") <br />
                        </span>
                        <span class="text-success"> Order Discount : @Model.TotalDiscountValue.ToString("c")</span>
                    </div>
                </div>
            }
            else
            {
                <p class="text-primary">You dont have any products in cart now!</p>
            }
        </div>
        <div class="card-footer row">
            @if (Model != null && Model.Items.Any())
            {
                <div class="col-6 col-md-3 offset-md-6">
                    <a asp-controller="Checkout" asp-action="Checkout" class="btn btn-success form-control ">
                        Checkout
                    </a>
                </div>
            }
        </div>

    </div>
</div>
