@model CreateOrderRequest

@{
    ViewData["Title"] = "Checkout";
}

<form method="post" asp-action="Checkout">
    <input asp-for="CartId" hidden />
    <div class="border mt-2 p-4 rounded">
        <div class="container row">
            <div class="col-md-7 col-12">
                <span style="font-size:25px;" class="text-warning mb-2">Order Summary</span>
            </div>
            <div class="col-md-5 col-12">
                <a asp-action="CartDetails" asp-controller="Cart" class="btn btn-outline-warning form-control">Back to Cart</a>
            </div>
            <br /><br /><br />
            <hr />
            <div class="col-7">
                <div class="row pt-2">
                    <div class="col-12 py-2">
                        <input asp-for="Street" placeholder="Street..." class="form-control" />
                        <span class="text-danger" asp-validation-for="Street"></span>
                    </div>
                    <div class="col-12 py-2">
                        <input asp-for="City" placeholder="City..." class="form-control" />
                        <span class="text-danger" asp-validation-for="City"></span>
                    </div>
                    <div class="col-12 py-2">
                        <input asp-for="State" class="form-control" placeholder="State..." />
                        <span class="text-danger" asp-validation-for="State"></span>
                    </div>
                    <div class="col-12 py-2">
                        <input asp-for="Country" class="form-control" placeholder="Country..." />
                        <span class="text-danger" asp-validation-for="Country"></span>
                    </div>
                    <div class="col-12 py-2">
                        <input asp-for="ZipCode" class="form-control" placeholder="ZipCode..." />
                        <span class="text-danger" asp-validation-for="ZipCode"></span>
                    </div>
                    <div class="col-12 pt-2">
                        <label class="col-form-label">Order will be ready in 30minutes after placing order. If you place order when restaurant is closed it will be ready next day.</label>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class=" d-none d-lg-block">
                            <div class="row text-danger">
                                <div class="col-2"></div>
                                <div class="col-4">Product</div>
                                <div class="col-3">Price</div>
                                <div class="col-3">Count</div>
                            </div>
                        </div>
                        <hr />
                        @if (ViewBag.Cart is ShoppingCartDto cart)
                        {
                            @foreach (CartItemDto item in cart.Items)
                            {
                                <div class="row h-100">
                                    <div class="col-2 col-md-2 text-center">
                                        <img src="@item.ProductThumbnailUrl" class="rounded" width="100%" />
                                    </div>
                                    <div class="col-4">
                                        <span style="font-size:20px">@item.ProductName</span>
                                    </div>
                                    <div class="col-3" style="font-size:11px;">
                                        <span style="font-size:17px;">@item.ProductLastPrice.ToString("c")</span>

                                    </div>
                                    <div class="col-3" style="font-size:11px;">
                                        <span style="font-size:17px;">@item.Quantity</span>
                                    </div>
                                </div>
                            }
                            <hr />
                            <div class="row">
                                <div class="col-12 text-center pr-4 text-danger">
                                    Order Total : @cart.CartTocal.ToString("c")<br />
                                    <span class="text-success"> Order Discount : @cart.TotalDiscountValue.ToString("c")</span>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12 ">
                                <button type="submit" class="btn btn-success form-control">
                                    <span>Place Order</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}